.container{
	margin-top: 100px;
	padding-left:100px;
	padding-right: 100px;
}

.jumbotron{
	text-align: center;
}

.jumbotron > h1 {

	color: navy;
}

.jumbotron > p {

	margin-top: 30px;
	font-size: 18px;
}
.page-header {
  margin-top: 100px;
}

#profile-description{
  text-align: center;
}

#profile-photo{
  width: 80%;
}